.services {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 300px 400px;
}
.services-header {
    position: absolute;
    font-size: $font-size-3;
    margin: 10px 0 5px 40%;
}
.section-services {
    margin: 250px 30px;
}
.services-name {
    display: inline-block;
    font-size: $font-size-4;

    text-align: center;
}

.text-wrapper {
    position: absolute;
    max-width: 340px;
    margin: 0 10px;
    font-size: $font-size-6;
    text-align: justify;
}
