main {
    margin-top: 100%;
}
.services {
    position: absolute;
    width: 65%;
    height: 1052px;
    left: 340px;
    background: #fcfcfc;
    flex-shrink: 1;
    margin: 320px auto;
    box-shadow:
        -3px 3px 4px rgba(0, 0, 0, 0.25),
        3px 3px 4px rgba(74, 74, 74, 0.25);
    @include medium-up {
        top: 1156px;
        width: 65%;
        height: 45wh;
    }
    @include small-up {
        top: 756px;
        width: 65%;
        height: 45wh;
        left: 20%;
    }
    .services-header {
        position: absolute;
        font-size: $font-size-3;
        margin: 10px 0 5px 40%;
    }
    .section-services {
        margin: 250px 30px;
    }
    .services-name {
        display: inline-block;
        font-size: $font-size-4;

        text-align: center;
    }
    .text-wrapper {
        position: absolute;
        max-width: 340px;
        margin: 0 10px;
        font-size: $font-size-6;
        text-align: justify;
    }
}
.gallery-one {
    text-align: center;
    color: #000;
    font-size: $font-size-3;
}
.gallery {
    display: grid;
    margin: 0 30px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 10px;
    padding: 15px;

    & img {
        max-width: 100%;
        display: block;

        transition: all 100ms ease-in-out;
    }
}
.price {
    &__list {
        background-image: url(/images/contact.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
        width: 99vw;
        height: 1747px;
        z-index: 1;

        .glass-effect {
            position: absolute;
            width: 908px;
            height: 412px;
            flex-shrink: 0;
            border-radius: 25px;
            background: linear-gradient(135deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%);
            box-shadow:
                -4px -4px 4px 0px rgba(0, 0, 0, 0.25),
                4px 4px 4px 0px rgba(0, 0, 0, 0.25);
            backdrop-filter: blur(4.5px);
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding: 10px;
            // do-mobile{}
        }
        .price-info {
            text-transform: uppercase;
            color: $white-color;
            font-size: $font-size-2;
            margin: 104px;
            text-align: center;
            font-weight: $font-weight-semibold;
        }
    }
}

.contact {
    &__info {
        position: relative;
        margin-top: -240px;

        text-align: center;
        color: white;
        font-size: $font-size-4;
        font-weight: $font-weight-semibold;
        z-index: 3;

        .phone-number {
            text-align: center;
            padding: 8px;
            max-width: 700px;
            margin: 0 auto;
        }
        // .email-adress {
        //     color: rgb(0, 0, 0);
        // }
    }
}
