.btn {
    display: block;
    padding: 15px 25px;
    background-color: $orange-color;
    color: $white-color;
    text-align: center;
    cursor: pointer;
    font-size: $font-size-7;
    font-weight: $font-weight-bold;
    margin: 0 auto; //dodac od gory margin odpowiedni whiteSpace
    border-radius: 32px;
    border: 2px solid $orange-color;
    transition: 0.5s ease-in-out;

    // @include medium-up {
    //     font-size: $font-size-5;
    // }

    &:hover {
        color: $orange-color;
        background: rgba(234, 234, 234, 0.15);
        border: 2px solid $orange-color;
        backdrop-filter: blur(2px);
        border-radius: 32px;
        font-weight: $font-weight-bold;
    }
    @include medium-up {
        font-size: $font-size-5;
    }
}
