.heading {
    font-weight: $font-weight-bold;
    margin: 55px 0;
    text-align: center;
    color: $white-color;

    &--1 {
        position: relative;
        font-size: $font-size-4;
        line-height: 75px;
        margin-top: 120px;

        @include medium-up {
            font-size: $font-size-4;
        }
        @include small-up {
            font-size: $font-size-1;
        }
    }

    &--2 {
        font-size: $font-size-4;
        line-height: 65px;
        font-weight: $font-weight-medium;
        margin: 0 auto;
        max-width: 1100px;

        @include small-up {
            font-size: $font-size-5;
        }

        @include medium-up {
            font-size: $font-size-3;
        }
    }
}
